[submodule "nlp/nlp_tools/gpt-stories"]
	path = nlp/nlp_tools/gpt-stories
	url = git@github.com:ace-design/gpt-stories.git
[submodule "nlp/nlp_tools/chatgpt/gpt-stories"]
	path = nlp/nlp_tools/chatgpt/gpt-stories
	url = git@github.com:ace-design/gpt-stories.git
